@if (ViewBag.Suc)
{
    <div class="alert alert-success col-md-8 col-md-offset-1">@ViewBag.Message</div>
}
else
{
    <div class="alert alert-danger col-md-8 col-md-offset-1">@ViewBag.Message</div>
}

