<p>Рассмотрим некоторые базовые элементы синтаксиса шаблонов, например, условные конструкции и циклы.</p>
<p><b>Циклы</b></p>
<p>Пусть на стороне сервера в шаблон передается массив:</p>
<br><img src="../../CoursesFiles/5/37/img/1.jpg"><br><img src="../../CoursesFiles/5/37/img/2.jpg">
<p>Для вывода массива в шаблоне используется конструкция {{range массив}} {{end}}. После слова range указывается перебираемый массив:</p>
<img src="../../CoursesFiles/5/37/img/3.jpg">
<p>Внутри конструкции range мы можем обращаться к текущему перебираемому объекту с помощью точки {{ . }}.</p>
<img src="../../CoursesFiles/5/37/img/4.jpg">
<p>Массив может не иметь данных. Если нам надо определить поведение на этот случай, то можно использовать подконструкцию {{else}}:</p>
<img src="../../CoursesFiles/5/37/img/5.jpg">
<p>Данные в массиве могут представлять сложные данные:</p>
<br><img src="../../CoursesFiles/5/37/img/6.jpg"><br><img src="../../CoursesFiles/5/37/img/7.jpg">
<p>Вывод этих данных в шаблоне:</p>
<img src="../../CoursesFiles/5/37/img/8.jpg"><br><img src="../../CoursesFiles/5/37/img/9.jpg">
<p><b>Условные конструкции</b></p>
<p>Если нам надо вывести в шаблоне некоторую разметку в зависимости от определенного условия, то можно использовать конструкцию {{if условие}}{{end}}. После ключевого слова if идет условие, которое должно возващать значение типа bool: true или false.</p>
<p>Например, передадим из сервера в шаблон данные, которые содержат логическое выражение:</p>
<br><img src="../../CoursesFiles/5/37/img/10.jpg"><br><img src="../../CoursesFiles/5/37/img/11.jpg">
<p>Определим в шаблоне следующий код:</p>
<img src="../../CoursesFiles/5/37/img/12.jpg">
<p>То есть если переменная Available равна true, то будет выводиться разметка Available. Если пременная равна false, то ничего не будет выводиться.</p>
<p>С помощью конструкции {{else}} можно определить разметку html, которая выводится, если условие в if равно false:</p>
<img src="../../CoursesFiles/5/37/img/13.jpg">
<p>Также мы можем в if сравнивать значения. Например, пусть сервер передает в шаблон текущий час:</p>
<br><img src="../../CoursesFiles/5/37/img/14.jpg"><br><img src="../../CoursesFiles/5/37/img/15.jpg">
<p>С помощью метода time.Now().Hour() здесь получаем текущий час.</p>
<p>В шаблоне определим следующую конструкцию:</p>
<img src="../../CoursesFiles/5/37/img/16.jpg">

<p>В данном случае сравнивается значение текущего часа с числом 12, и в зависимости от значения выводим тот или иной текст.</p>
<p>Оператор lt можно расшифровать как "less than", то есть меньше чем. То есть фактически это аналог операции  Он сравнивает два значения и возвращает true, если первое значение менльше второго. Иначе возвращается значение false.</p>
<p>Подобным образом мы можем использовать еще ряд операторов, которые аналогичны стандартным операторам сравнения:</p>
<ul>
    <li>eq: возвращает true, если два значения равны</li>
    <li>ne: возвращает true, если два значения НЕ равны</li>
    <li>le: возвращает true, если первое значение меньше или равно второму</li>
    <li>gt: возвращает true, если первое значение больше второго</li>
    <li>ge: возвращает true, если первое значение больше или равно второму</li>
</ul>
<p>Кроме того, есть ряд операторов, которые аналогичны логическим операторам:</p>
<ul>
    <li>and: возвращает true, если два выражения равны true</li>
    <li>or: возвращает true, если хотя бы одно из двух выражений равно true</li>
    <li>not: возвращает true, если выражение возвращает false</li>
</ul>
<p>Применение некоторых операторов:</p>
<img src="../../CoursesFiles/5/37/img/17.jpg"><style>p{text-indent: 25px;}</style>