<div id="result"></div>
@using (Ajax.BeginForm("Result","CourseCreate",  new AjaxOptions { UpdateTargetId = "result" }, new { enctype = "multipart/form-data" }))
{

<input type="hidden" value="@ViewBag.couseid" id="courseid" name="courseid" />
       <table class="table">
           <thead>
               <tr>
                   <th>Название Урока</th>
                   <th>.html файл урока</th>

               </tr>
           </thead>
           <tbody>
               @for (int i = 0; i < ViewBag.Number; i++)
               {
                   <tr>
                       <td><input id="lessonname" name="lessonname" type="text" style=" width:100%" /></td>
                       <td><input id="lessonfile" name="lessonfile" type="file" accept=".zip" /></td>
                   </tr>
               }

           </tbody>
       </table>
       <div class="text-right"><input type="submit" class="btn btn-default" value="Сохранить данные"  /></div>
    
}


