<a href="@Url.Action("TestsList", new { courseid=ViewBag.course})">
    <div class="alert alert-success">
        Уроки успешно сохранены!
            Перейти к созданию тестовых заданий >>>>>>
        
    </div>
</a>