<style>
    .header {
        background-image: url("../../img/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .border-text {
        text-align: center;
        font-size: 10vh;
        font-family: cursive;
        color: white
    }



    .search:hover, .search:focus {
        border: 0px !important;
        outline: none !important
    }
</style>


<div class="header">
    <div class="border-text">
        Учиться никогда не поздно
    </div>

</div>
<p style="text-indent:25px; font-size:2.5vh">
    Основанием для создания сервиса стало то, что реально получить качественную информацию по интересной темой довольно трудно даже в современных условиях. Достаточно трудно даже не только научиться чему-то новому, но и повысить свою квалификацию, как специалиста. Отсюда на сегодняшний день мы имеем большое количество сомнительных частных курсов, которые мало того, что не дают тех знаний и навыков, которые обещают в начале, а и требуют достаточно больших вложений времени и денег.
</p>
<p style="text-indent:25px;font-size:2.5vh">
    Основные столбы на которых строится проект «BrainGym» - это максимальный результат с минимальным дискомфортом.
 </p>
<p style="text-indent:25px;font-size:2.5vh">
    Каждый пользователь может как проходить курсы, изучая материалы и закрепляя полученные знания с помощью тестовых заданий, так и создавать свои. Функционал приложения полностью бесплатный.
</p>
<div class="text-center">
    <a href="@Url.Action("Register", "Account")">
        <img src="~/img/defaultlogo2.jpg" />
    </a>
</div>